<div class="container">
  <div class="footer">
    <small>
      Copyright &copy; <a href="http://MerakiCreativeStudio.com">Meraki Creative Studio</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </div>
</div>